.dub
docs.json
__dummy.html
docs/
/zame
zame.so
zame.dylib
zame.dll
zame.a
zame.lib
zame-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
*.exp
dub.selections.json
/*.lib
/*.exp
/*.dll
___*.*

# Games or projects that uses Zame
/zame-world
/multi